@using DAL
@model List<CarritoProducto>

<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<br />

<!--Mensaje de error en caso de que se exceda la cantidad en inventario-->
@if(TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

<div class="form-group">
    <h3>Numero de consecutivo:</h3>
    <input type="text" class="form-control" style="width: 18rem;">
</div>

<br />
<br />
<table class="table">
    <thead class="table-dark">
        <tr>

            <th scope="col">Producto</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Imagen</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio Individual</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Producto.Nombre</td>
                <td>@item.Producto.Descripcion</td>
                <td>@item.Producto.ImagenProducto</td>
                <td>@item.Cantidad</td>
                <td>₡@item.Producto.Precio</td>
                <td>
                    <form asp-controller="Carrito" asp-action="EditarCantidad" method="post">
                        <input type="hidden" name="carritoProductoId" value="@item.CarritoProductoId" />
                        <input type="number" name="nuevaCantidad" min="1" max="100" value="@item.Cantidad" 
                        style="width: 60px;" />
                        <button type="submit" style="background-color:pink; color: black;">Actualizar</button>
                    </form>
                </td>
                <td>
                    <a asp-controller="Carrito" asp-action="EliminarDelCarrito" 
                    asp-route-carritoProductoId="@item.CarritoProductoId">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7" style="font-size: 20px; font-weight: bold;">Total: ₡@ViewBag.Total</td>
        </tr>
    </tfoot>
</table>

    <a class="btn btn-dark" asp-controller="Carrito" asp-action="ImprimirFactura">Generar factura</a>
    <br />
    <br />
    <br />

    <h3>Metodos de pago</h3>

    <a class="btn btn-dark" id="pagoSinpe">Sinpe</a>
    <a class="btn btn-dark" id="pagoTransferencia">Transferencia</a>
    <a class="btn btn-dark" id="pagoEfectivo">Efectivo</a>

    <div id="mensajePago"></div>

    <br />


    <div class="card" style="left: -20px;" id="infoPago">
        <div class="card-body">
            <!-- Aquí irá la información de pago -->
        </div>
    </div>

    <!--Metodos de pago-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function () {
        $("#pagoEfectivo").click(function () {
            var total = '@ViewBag.Total';
            //$("#mensajePago").html("Has seleccionado pago en efectivo. Deberás pagar en el salón un total de ₡" + total + ".");
            $("#infoPago .card-body").html("<h5 class='card-title'>Información de pago</h5><p>Has seleccionado pago en efectivo. Deberás pagar en el salón un total de ₡" + total + ".</p>");
        });

        $("#pagoTransferencia").click(function () {
            var numeroCuenta = '2365 9865 3214 1254'; 
            var nombreDueno = 'Viviana Ruiz'; 
            //$("#mensajePago").html("Has seleccionado pago por transferencia bancaria. El número de cuenta es " + numeroCuenta + " a nombre de " + nombreDueno + ".");
            $("#infoPago .card-body").html("<h5 class='card-title'>Información de pago</h5><h6 class='card-subtitle mb-2 text-body-secondary'>Transferencia Bancaria</h6><p>Número de cuenta BCR: " + numeroCuenta + "</p><p>A nombre de: " + nombreDueno + "</p>");
        });

        $("#pagoSinpe").click(function () {
            var numeroTelefono = '8525 3219';
            var nombre = 'Viviana Ruiz';
            var consecutivo = '@ViewBag.Consecutivo';
            // $("#mensajePago").html("Has seleccionado pago por Sinpe Móvil. El número de teléfono es " + numeroTelefono + ", el nombre es " + nombre + " y el número de consecutivo es " + consecutivo + ".");
            $("#infoPago .card-body").html("<h5 class='card-title'>Información de pago</h5><h6 class='card-subtitle mb-2 text-body-secondary'>SINPE Móvil</h6><p>Número de teléfono: " + numeroTelefono + "</p><p>Nombre: " + nombre + "</p><p>Número de consecutivo: " + consecutivo + "</p>");
        });
    });
    </script>
</html>

