@model IEnumerable<DAL.Producto>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <br />
    

    <div class="contenedor-prod">
        <h1 style="font-weight: bold">PRODUCTOS</h1>
        <div class="contenedor-busq">
            <div class="busqueda">
                <form asp-controller="Productos" asp-action="CatalogoProd" method="get">
                    <input type="text" name="searchTerm" placeholder="Buscar..." value="@ViewData["searchTerm"]">
                    <select name="categoriaId" asp-items="ViewBag.Categorias">
                        <option value="">Todas las categorías</option>
                    </select>
                    <button class="w-70 btn btn-lg btn-dark">Buscar</button>
                </form>
            </div>
        </div>
    </div>

    <br />
    <div class='cards'>
        <div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model)
    {

                <div class="col">
                    <div class="card h-100">
                        @if (item.ImagenProducto !=null && item.ImagenProducto.Length>
                            0)
                        {
                            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item.ImagenProducto))" class="card-img-top" width="100" height="370"/>
                        }
                        else
                        {
                            <span>No se cargo una imagen</span>
                        }
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nombre)</h5>
                            <h6>₡@Html.DisplayFor(modelItem => item.Precio)</h6>
                            <p class="card-text">
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </p>
                        </div>
                        <div class="text-center">
                            <a class="w-70 btn btn-lg  btn-dark" asp-controller="ListaDeseoProductos" asp-action="Create"
                               asp-route-productoId="@item.ProductoId">Agregar a lista de deseos</a>
                            <br />
                            <br />
                            <form asp-controller="Carrito" asp-action="AgregarAlCarrito" method="Post">
                                <input type="hidden" name="productoId" value="@item.ProductoId" />
                                <button type="submit" class="w-70 btn btn-lg  btn-dark"
                                        style="background-color:pink;
                                    color: black;">
                                    Agregar al carrito
                                </button>
                            </form>
                        </div>
                        <br />
                        <br />
                    </div>
                </div>
            
        
    }
        </div>
    </div>
</body>

@* <a class="w-100 btn btn-lg  btn-dark" asp-controller="Carrito" asp-action="AgregarAlCarrito" 
asp-route-productoId="@item.ProductoId" style="background-color:pink; color: black;">Agregar al carrito</a> *@