@model DAL.Producto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class ="home">
    <h2>Producto</h2>
    <hr />
    <br />
    <dl class="row" style="font-size: 20px; padding-left: 85px">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ImagenProducto)
        </dt>
        <dd class="col-sm-7">
            @if (Model.ImagenProducto != null && Model.ImagenProducto.Length > 0)
            {
                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.ImagenProducto))" width="150" />
            }
            else
            {
                <span>No se cargo una imagen</span>
            }
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-7">
            @if (Model.Estado == 1)
            {
                <span class="text-success">Activo</span>
            }
            else
            {
                <span class="text-danger">Desactivado</span>
            }
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.Categoria.Descripcion)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.Marca.Descripcion)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Proveedor)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.Proveedor.Nombre)
        </dd>
    </dl>
    <div>
        <a class="w-100 btn btn-lg  btn-dark" asp-action="Edit" asp-route-id="@Model?.ProductoId">Editar</a>
        <br />
        <br />
        <a class="w-100 btn btn-lg  btn-dark" style="background-color:pink; color: black;" asp-action="Index">Volver a la lista</a>
    </div>
</div>

