@model IEnumerable<DAL.Producto>

@{
    ViewData["Title"] = "Inventario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table {
        color: #000000;
        background-color: #FFFFFF;
    }

    .thead-dark {
        background-color: #C8BCA1;
    }

    .btn-primary {
        background-color: #007bff;
    }

    .btn-warning {
        background-color: #FF69B4;
    }

    .btn-info {
        background-color: #008b8b;
    }

    .btn-danger {
        background-color: #ff0000;
    }

    .text-muted {
        color: #800080;
    }

    .container {
        background-color: rgba(245, 203, 215, 1);
    }

    body {
        background-color: rgba(225, 213, 216, 0.91);
    }
</style>

@* Mensaje de alerta que se mostrará cuando la cantidad sea menor o igual a 5 *@

<div class="container">
    <h1 class="my-4">Inventario</h1>

    @foreach (var item in Model)
    {
        if (!string.IsNullOrEmpty(item.Alerta))
        {
            <div class="alert alert-danger">
                @item.Alerta
            </div>
        }
    }

    <div class="mb-3">
        <a asp-action="Create" class="btn btn-warning">Agregar nuevo producto</a>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                    <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
                    <th>@Html.DisplayNameFor(model => model.ImagenProducto)</th>
                    <th>@Html.DisplayNameFor(model => model.Precio)</th>
                    <th>@Html.DisplayNameFor(model => model.Estado)</th>
                    <th>@Html.DisplayNameFor(model => model.Cantidad)</th>
                    <th>@Html.DisplayNameFor(model => model.Categoria)</th>
                    <th>@Html.DisplayNameFor(model => model.Marca)</th>
                    <th>@Html.DisplayNameFor(model => model.Proveedor)</th>
                    <th>Acciones</th>
                    <th>Agotado</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                        <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                        <td>
                            @if (item.ImagenProducto != null && item.ImagenProducto.Length > 0)
                            {
                                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item.ImagenProducto))" width="100" />
                            }
                            else
                            {
                                <span class="text-muted">No se cargó una imagen</span>
                            }
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Precio)</td>
                        <td>@Html.DisplayFor(modelItem => item.Estado)</td>
                        <td>@Html.DisplayFor(modelItem => item.Cantidad)</td>
                        <td>@Html.DisplayFor(modelItem => item.Categoria.Descripcion)</td>
                        <td>@Html.DisplayFor(modelItem => item.Marca.Descripcion)</td>
                        <td>@Html.DisplayFor(modelItem => item.Proveedor.Email)</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ProductoId" class="btn btn-warning btn-sm">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.ProductoId" class="btn btn-info btn-sm">Detalles</a>
                            <a asp-action="Delete" asp-route-id="@item.ProductoId" class="btn btn-danger btn-sm">Eliminar</a>
                            <form asp-controller="CarritoProveedores" asp-action="AgregarProdProveedor" method="Post">
                                <input type="hidden" name="productoId" value="@item.ProductoId" />
                                <button type="submit" class="w-70 btn btn-lg  btn-dark"
                                        style="background-color:pink;
                                    color: black;">
                                    Agregar a pedido de proveedores
                                </button>
                            </form>
                        </td>
                        <td>
                            <form asp-action="ToggleAgotado" asp-route-id="@item.ProductoId">
                                <input type="checkbox" onchange="this.form.submit()" name="Agotado" @(item.Estado == 0 ? "checked" : "") />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>