@model IEnumerable<DAL.Producto>

@{
    ViewData["Title"] = "Inventario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@* Mensaje de alerta que se mostrará cuando la cantidad sea menor o igual a 5 *@
<br />
<h1 class="titulos_cat">INVENTARIO</h1>
<br />


@foreach (var item in Model)
{
    if (item.Cantidad <= 5 && item.Estado == 1)
    {
        <div class="alert alert-warning">
            El producto @item.Nombre tiene pocas existencias (@item.Cantidad unidades restantes).
        </div>
    }
    else if (item.Estado == 0)
    {
        <div class="alert alert-danger">
            El producto @item.Nombre está agotado.
        </div>
    }
}

<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
            <th>@Html.DisplayNameFor(model => model.ImagenProducto)</th>
            <th>Precio de venta</th>
            <th>@Html.DisplayNameFor(model => model.PrecioProveedor)</th>
            <th>@Html.DisplayNameFor(model => model.Cantidad)</th>
            <th>@Html.DisplayNameFor(model => model.Categoria)</th>
            <th>@Html.DisplayNameFor(model => model.Marca)</th>
            <th>@Html.DisplayNameFor(model => model.Proveedor)</th>
            <th>Acciones</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                <td>
                    @if (item.ImagenProducto != null && item.ImagenProducto.Length > 0)
                    {
                        <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item.ImagenProducto))" width="100" />
                    }
                    else
                    {
                        <span class="text-muted">No se cargó una imagen</span>
                    }
                </td>
                <td>₡@Html.DisplayFor(modelItem => item.Precio)</td>
                <td>₡@Html.DisplayFor(modelItem => item.PrecioProveedor)</td>
                <td>@Html.DisplayFor(modelItem => item.Cantidad)</td>
                <td>@Html.DisplayFor(modelItem => item.Categoria.Descripcion)</td>
                <td>@Html.DisplayFor(modelItem => item.Marca.Descripcion)</td>
                <td>@Html.DisplayFor(modelItem => item.Proveedor.Nombre)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductoId">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.ProductoId">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.ProductoId">Eliminar</a>
                    <form asp-controller="CarritoProveedores" asp-action="AgregarProdProveedor" method="Post">
                        <input type="hidden" name="productoId" value="@item.ProductoId" />
                        <button type="submit" class="w-70 btn-dark"
                                style="background-color:pink;
                                    color: black;">
                            Agregar pedido
                        </button>
                    </form>
                </td>
                <td>
                    @if (item.Estado == 0)
                    {
                        <span class="badge bg-danger">Agotado</span>
                    }
                    else
                    {
                        <span class="badge bg-success">Disponible</span>
                    }
                    <form asp-action="ToggleAgotado" asp-route-id="@item.ProductoId" method="post">
                        <input type="checkbox" onchange="this.form.submit()" name="agotado" @(item.Estado == 0 ? "checked" : "") />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
<p>
    <a asp-action="Create" class="w-70 btn btn-lg  btn-dark"
       style="background-color:pink; color: black;">Agregar nuevo producto</a>
</p>