@model DAL.ProductoLealtad

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="home">
    <h3>¿Seguro que quieres eliminar este producto?</h3>
    <hr />
    <br />
    <dl class="row" style="font-size: 20px; padding-left: 85px">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagenProductolealtad)
        </dt>
        <dd class="col-sm-10">
            @if (Model.ImagenProductolealtad != null && Model.ImagenProductolealtad.Length > 0)
            {
                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.ImagenProductolealtad))" width="150" />
            }
            else
            {
                <span>No se cargo una imagen</span>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioPuntos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioPuntos)
        </dd>
    </dl>
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductoLealtadId" />
        <input type="submit" value="Eliminar" class="w-100 btn btn-lg  btn-dark" />
        <br />
        <br />
        <a class="w-100 btn btn-lg  btn-dark" style="background-color:pink; color: black;" asp-action="Index">Volver a la lista</a>
    </form>
    
</div>
