@model IEnumerable<DAL.Factura>

@{
    ViewData["Cierre"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
</head>

<br>
<br>

<h1 class="titulos_cat">Facturas del Día</h1>
<br>
<section class="modulo">
    <table class="styled-table">
        <thead>
            <tr>
                <th>Factura ID</th>
                <th>Cliente</th>
                <th>Pago Realizado</th>
                <th>Fecha</th>
                <th>Acciones</th> <!-- Nueva columna para acciones -->
            </tr>
        </thead>
        <tbody>
            @foreach (var factura in Model)
            {
                <tr>
                    <td>@factura.FacturaId</td>
                    <td>@factura.Cliente.UserName</td>
                    <td>@factura.PrecioTotal</td>
                    <td>@factura.Fecha.ToShortDateString()</td>
                    <td>
                        <a href="@Url.Action("VerDetalle", "Cierre", new { facturaId = factura.FacturaId })" class="w-40 btn btn-lg  btn-dark" style="background-color:pink; color: black;y">Ver Detalles</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

<br>
<br>
<button id="registrarCierreButton" class="btn-dark"> Registrar Cierre </button>
<br>
<br>
<a href="/Cierre/VerCierre" class="btn btn-dark">Ver Cierre</a>


@section Scripts {
    <script>
        document.getElementById("registrarCierreButton").addEventListener("click", function () {
            fetch('/Cierre/RegistrarCierre', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        Swal.fire({
                            icon: 'success',
                            title: '¡Cierre Registrado!',
                            text: data.message,
                            confirmButtonText: 'Aceptar'
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Hubo un problema al registrar el cierre. Por favor, inténtalo de nuevo.',
                            confirmButtonText: 'Aceptar'
                        });
                    }
                });
        });
    </script>
}