@model DAL.Factura

@{
    ViewData["Title"] = "Detalles de Factura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<br>
<div class="container bg-white p-4 rounded">
    <h2>Detalles de Factura</h2>

    <dl class="row">
        <dt class="col-sm-3">Factura ID:</dt>
        <dd class="col-sm-9">@Model.FacturaId</dd>

        <dt class="col-sm-3">Cliente:</dt>
        <dd class="col-sm-9">@Model.Cliente.UserName</dd>

        <dt class="col-sm-3">Fecha:</dt>
        <dd class="col-sm-9">@Model.Fecha.ToShortDateString()</dd>

        <dt class="col-sm-3">Pago Realizado:</dt>
        <dd class="col-sm-9">@Model.PrecioTotal</dd>
    </dl>

    <br>
    <br>

    <h3>Productos Comprados</h3>
    <table>
        <thead>
            <tr>
                <th>Producto</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var detalle in Model.DetalleFacturas.Where(df => df.Producto != null))
            {
                <tr>
                    <td>@detalle.Producto.Nombre</td>
                    <td>@detalle.Producto.Descripcion</td>
                    <td>@detalle.Cantidad</td>
                    <td>@detalle.PrecioUnitario</td>
                    <td>@(detalle.Cantidad * detalle.PrecioUnitario)</td>
                </tr>
            }
        </tbody>
    </table>
    <br>
    <br>
    <h3>Servicios Comprados</h3>
    <table>
        <thead>
            <tr>
                <th>Servicio</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var detalle in Model.DetalleFacturas.Where(df => df.Servicio != null))
            {
                <tr>
                    <td>@detalle.Servicio.Nombre</td>
                    <td>@detalle.Servicio.Descripcion</td>
                    <td>@detalle.Cantidad</td>
                    <td>@detalle.PrecioUnitario</td>
                    <td>@(detalle.Cantidad * detalle.PrecioUnitario)</td>
                </tr>
            }
        </tbody>
    </table>

    <br>
    <br>

    <a asp-action="Index" class="btn btn-dark">Volver a la lista de Facturas</a>
</div>
