@model IEnumerable<DAL.Servicio>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagenServicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                    @if (item.ImagenServicio != null && item.ImagenServicio.Length > 0)
                    {
                        <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item.ImagenServicio))" width="100" />
                    }
                    else
                    {
                        <span>No se cargo una imagen</span>
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ServicioId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ServicioId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ServicioId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<body>
    <br />
    <div class="contenedor-busq">
        <div class="busqueda">
            <input type="text" placeholder="Buscar...">
            <button><img src="~/Imagenes/filtro.jpg" alt="Filtro"></button>
        </div>
    </div>
    <br />

    <h1 class="titulos_cat">PRODUCTOS</h1>
    <div class='cards'>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="Imagenes/producto1.jpg" class="card-img-top" alt="acondicionador">
                    <div class="card-body">
                        <h5 class="card-title">Acondicionador</h5>
                        <h6>₡ 8.000</h6>
                        <h6 style="color: darkcyan; font-weight: bold;">50 pls</h6>
                        <p class="card-text">
                            Un accondicionador que sí define tus rizos, controlando el frizz.
                            El uso diario de este producto aportara volumen y brillo a tus rizos.
                        </p>
                        <a class="btn btn-primary">Agregar a la lista de deseos</a>
                        <br />
                        <br />
                        <a class="btn btn-success">Agregar al carrito</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="Imagenes/producto2.jpg" class="card-img-top" alt="Aceite">
                    <div class="card-body">
                        <h5 class="card-title">Aceite</h5>
                        <h6>₡ 25.500</h6>
                        <h6 style="color: darkcyan; font-weight: bold;">40 pls</h6>
                        <p class="card-text">
                            Recupera la vida de tu cabello con nuestros tratamientos.
                            Le brindaran brillo y un excelente aroma a tu cabello.
                        </p>
                        <a class="btn btn-primary">Agregar a la lista de deseos</a>
                        <br />
                        <br />
                        <a class="btn btn-success">Agregar al carrito</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="Imagenes/producto3.jpg" class="card-img-top" alt="shampoo">
                    <div class="card-body">
                        <h5 class="card-title">Shampoo</h5>
                        <h6>₡ 18.000</h6>
                        <h6 style="color: darkcyan; font-weight: bold;">55 pls</h6>
                        <p class="card-text">
                            Contamos con las mejores marcas de
                            Shampoo para cabello decolorado que cuidaran tus hermosos rayitos.
                        </p>
                        <a class="btn btn-primary">Agregar a la lista de deseos</a>
                        <br />
                        <br />
                        <a class="btn btn-success">Agregar al carrito</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</body>