@model IEnumerable<DAL.CarritoProvProducto>

<h2></h2>


<br />

<!--Mensaje de error en caso de que se exceda la cantidad en inventario-->
@if(TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

<h1 class="titulos_cat">PRODUCTOS EN EL CARRITO</h1>

<br />
<br />
<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">Producto</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Imagen</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio Individual</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Producto.Nombre</td>
                <td>@item.Producto.Descripcion</td>
                <td>
                    @if (item.Producto.ImagenProducto != null && item.Producto.ImagenProducto.Length > 0)
                    {
                        <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Producto.ImagenProducto))" width="100" />
                    }
                    else
                    {
                        <span>No se cargo una imagen</span>
                    }
                </td>
                <td>@item.Cantidad</td>
                <td>₡@item.Producto.PrecioProveedor</td>
                <td>
                    <form asp-controller="CarritoProveedores" asp-action="EditarCantidad" method="post">
                        <input type="hidden" name="CarritoProvProductoId" value="@item.CarritoProvProductoId" />
                        <input type="number" name="nuevaCantidad" min="1" max="100" value="@item.Cantidad" style="width: 60px;"
                        class="cantidad" data-id="@item.CarritoProvProductoId" />
                        <br />
                        <br />
                        @* <button type="submit" style="background-color:pink; color: black;">Actualizar</button> *@
                    </form>
                    <br />
                    <a class="btn btn-dark" asp-controller="CarritoProveedores" asp-action="EliminarDelCarrito" asp-route-CarritoProvProductoId="@item.CarritoProvProductoId">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7" style="font-size: 20px; font-weight: bold;">Total: ₡@ViewBag.Total</td>
        </tr>
    </tfoot>
</table>

<br />



<br />



<script>
    $(document).ready(function () {
        $("#confirmarCompra").click(function () {
            $.post('@Url.Action("ConfirmarCompra", "CarritoProveedores")', function (response) {
                if (response.success) {
                    $("#notification").removeClass("alert-danger").addClass("alert-success").text(response.message).show();
                    setTimeout(function () {
                        location.reload(); // Limpiar el carrito recargando la página después de un corto retraso
                    }, 2000);
                } else {
                    $("#notification").removeClass("alert-success").addClass("alert-danger").text(response.message).show();
                }
            });
        });
    });
</script>



<a class="btn btn-dark" id="confirmarCompra">Confirmar Pedido</a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.cantidad').change(function () {
            var nuevaCantidad = $(this).val();
            var carritoProvProductoId = $(this).data('id');

            $.ajax({
                url: '/CarritoProveedores/EditarCantidad',
                type: 'POST',
                data: { carritoProvProductoId: carritoProvProductoId, nuevaCantidad: nuevaCantidad },
                success: function (response) {
                    // Actualizar la página
                    location.reload();
                },
                error: function (response) {
                    alert('Error al actualizar la cantidad.');
                }
            });
        });
    });
</script>





<!-- Botón para ver las facturas de proveedores -->
<button id="verFacturasProveedores" class="btn btn-dark">Ver Facturas de Proveedores</button>




<div id="facturasProveedoresContainer"></div>





@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#verFacturasProveedores').click(function () {
                $.ajax({
                    url: '@Url.Action("VerFacturasProveedores", "CarritoProveedores")',
                    type: 'GET',
                    success: function (data) {
                        $('#facturasProveedoresContainer').html(data);
                    },
                    error: function () {
                        alert('Error al cargar las facturas de proveedores.');
                    }
                });
            });
        });
    </script>
}