@model IEnumerable<DAL.ApplicationUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <br>
    </br>
<h1 class="titulos_cat">USUARIOS REGISTRADOS</h1>

<br>

<p>
    <a class="w-40 btn btn-lg  btn-dark" style="background-color:pink; color: black;" asp-action="Create">Crear nueva cuenta</a>
</p>

<section class="modulo">
<table>
    <thead>
        <tr>
            <th>Email</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.Nombre</td>
                <td>@user.Apellido</td>
                    <td>@(user.Estado == 1 ? "Activa" : "Inactiva")</td>
                <td>
                    <a asp-controller="Admin" asp-action="Edit" asp-route-id="@user.Id">Editar</a> |
                        <a asp-controller="Admin" asp-action="Delete" asp-route-id="@user.Id">Eliminar</a> |

                        <a asp-controller="Admin" asp-action="Locked" asp-route-id="@user.Id">Bloquear</a> | 
                        <a asp-controller="Admin" asp-action="Unlock" asp-route-id="@user.Id">Desbloquear</a>

                </td>
            </tr>
        }
    </tbody>
</table>
    </section>

