@model DAL.Cita

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="home">
    <h2>Cita</h2>
    <hr />
    <br />
    <dl class="row" style="font-size: 20px; padding-left: 85px">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-7">
            @Html.Raw(Model.Fecha.ToString("dd/MM/yyyy"))
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd class="col-sm-7">
            @Html.Raw(Model.Hora.ToString("hh\\:mm"))
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Cliente.Nombre)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Servicio)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Servicio.Nombre)
        </dd>
    </dl>
    <div>
        <a class="w-100 btn btn-lg  btn-dark" asp-action="Edit" asp-route-id="@Model?.CitaId">Editar</a> 
        <br />
        <br />
        <a class="w-100 btn btn-lg  btn-dark" style="background-color:pink; color: black;" asp-action="Index">Volver a la lista</a>
    </div>
</div>

